.record-message-container {
  margin-top: 0.5rem;
}

.record-message-button {
  background-color: white; 
  padding: 1rem;
  border-radius: 9999px; 
  border: none;
  cursor: pointer;
}

.record-message-text {
  margin-top: 0.5rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.recording-icon {
  animation: pulse 1s infinite;
  color: #18326F;
}

.idle-icon {
  color: #6288CE;
}

/* Define pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
